<mat-toolbar>
  <mat-toolbar-row>
    <span>Add new student</span>
  </mat-toolbar-row>
</mat-toolbar>
<form style="margin-left: 1em" #studentForm="ngForm" (ngSubmit)="onSubmit()" [formGroup]="sf">
  <mat-form-field class="full-width">
    <input matInput placeholder="Student Id" name="studentId" required formControlName="studentId">
    <mat-error *ngFor="let validation of validation_messages.studentId">
      <mat-error class="error-message" *ngIf="sf.get('studentId').hasError(validation.type) &&
      (sf.get('studentId').dirty || sf.get('studentId').touched)"> {{validation.message}}
      </mat-error>
      </mat-error>
  </mat-form-field>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="First name" name="name" required formControlName="name">
          <mat-error *ngFor="let validation of validation_messages.name">
            <mat-error class="error-message" *ngIf="sf.get('name').hasError(validation.type) &&
            (sf.get('name').dirty || sf.get('name').touched)"> {{validation.message}}
            </mat-error>
            </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="surname" name="surname" required formControlName="surname">
          <mat-error *ngFor="let validation of validation_messages.surname">
            <mat-error class="error-message" *ngIf="sf.get('surname').hasError(validation.type) &&
            (sf.get('surname').dirty || sf.get('surname').touched)"> {{validation.message}}
            </mat-error>
            </mat-error>
        </mat-form-field>
      </td>
    </tr>
    <div>
      <mat-form-field class="penInput">
        <input matInput placeholder="pen Amount" class="center-text" value="0" name="penAmount" required formControlName="penAmount">
        <mat-error *ngFor="let validation of validation_messages.penAmount">
          <mat-error class="error-message" *ngIf="sf.get('penAmount').hasError(validation.type) &&
          (sf.get('penAmount').dirty || sf.get('penAmount').touched)"> {{validation.message}}
          </mat-error>
          </mat-error>
      </mat-form-field>
    </div>
  </table>
  <mat-form-field hintLabel="will change to the image uploader component later" class="full-width">
    <input matInput placeholder="file name" name="image" required formControlName="image">
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Description" name="description" required formControlName="description"></textarea>
  </mat-form-field>
  <div class="center">
    <button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.form.valid">Add</button>
  </div>
</form>
